MONGODB_URI=mongodb+srv://alokabhigyan65:Abhi1997$$@sharpenerproject.msds32f.mongodb.net/event_analytics
REDIS_HOST=REDIS_HOST=redis://default:u4UPTfv5rTCiH8ttBlcToc5jI84pBaJN@redis-16961.crce206.ap-south-1-1.ec2.redns.redis-cloud.com:16961
BULL_QUEUE_NAME=events-queue
PORT=3000
ADMIN_API_KEY=local_admin_key_please_change
LOG_LEVEL=info
